<div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-auto">
            <img src="https://image.freepik.com/vector-gratis/ilustracion-personas-dinero_53876-40771.jpg" alt="Logo bank" width="500" style="text-align: center;">
        </div>
        <div class="col-md-auto">
            <h1>¡Bienvenido a Bank Sophos!</h1>
            <p> Utiliza los botones superiores para navegar en la página</p>
        </div>
    </div>

</div>
