<div class="modal-header" style="background-color:#212529;">
  <h5 class="modal-title" style="color: floralwhite;"> Bank Sophos!</h5>
</div>
<div class="modal-body" >
  <p style="text-align:center">{{ modalService.ResultOperation }}</p>
</div>

