<div class="container-fluid">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-auto">
      <img
        src="https://image.freepik.com/vector-gratis/ilustracion-personas-dinero_53876-40771.jpg"
        alt="Logo bank"
        width="500"
        style="text-align: center"
      />
      <h1>¡Bienvenido a Bank Sophos!</h1>
      <p>Ingresa la información a continuación para generar tu usuario</p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Crear usuario</h3>
        </div>
        <div class="card-body">
          <form class="row g-2 needs-validation" action="">
            <div class="form-group col-md-12">
              <label for="name">Nombre</label>
              <input
                id="firstName"
                type="text"
                class="form-control"
                placeholder="Adele"
                name="firstName"
                [(ngModel)]="user.firstName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="name">Apellido</label>
              <input
                id="lastName"
                type="text"
                class="form-control"
                placeholder="Adkins"
                name="lastName"
                [(ngModel)]="user.lastName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="name">Usuario</label>
              <input
                id="username"
                type="text"
                class="form-control"
                placeholder="aadkins"
                name="username"
                [(ngModel)]="user.userName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="lastname">Contraseña</label>
              <input
                id="password"
                type="password"
                class="form-control"
                placeholder="Ingresa tu contraseña"
                name="password"
                [(ngModel)]="user.password"
                autocomplete="off"
                required
              />
            </div>
            <button (click)="signUp()" class="btn btn-success" type="submit">
              Crear usuario
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>  -->
