<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Crear Clientes</h3>
        </div>
        <div class="card-body">
            <form class="row g-3 needs-validation" action="">
                <div class="form-group col-md-6">
                    <label for="name">Nombre</label>
                    <input
                    id="name"
                    type="text"
                    class="form-control"
                    placeholder="Adele"
                    name="name"
                    [(ngModel)]="client.name"
                    autocomplete="off"
                    autocapitalize="sentences"
                    required>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Apellidos</label>
                    <input
                    id="lastname"
                    type="text"
                    class="form-control"
                    placeholder="Adkins"
                    name="lastname"
                    [(ngModel)]="client.lastname"
                    autocomplete="off"
                    autocapitalize="sentences"
                    required>
                </div>
                <div class="form-group col-md-4">
                    <label for="typeId">Tipo identificación</label>
                    <select
                    id="typeId"
                    class="form-select"
                    name="typeId"
                    [(ngModel)]="client.typeId"
                    required>
                        <option value="CC" selected>Cédula ciudadania</option>
                        <option value="PA">Pasaporte</option>
                        <option value="NIT">NIT</option>
                        <option value="CE">Cédula extranjeria</option>
                        <option value="TI">Tarjeta de identidad</option>
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <label for="numberId">Número de identificación</label>
                    <input
                    id="numberId"
                    type="text"
                    class="form-control"
                    placeholder="123456789"
                    name="numberId"
                    [(ngModel)]="client.numberId"
                    autocomplete="off"
                    required>
                </div>
                <div class="form-group">
                    <label for="email">Correo electronico</label>
                    <input
                    id="email"
                    type="email"
                    class="form-control"
                    placeholder="name_example@email.com"
                    name="email"
                    [(ngModel)]="client.email"
                    autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-6">
                    <label for="telephone">Teléfono</label>
                    <input
                    id="telephone"
                    type="text"
                    class="form-control"
                    placeholder="3111111111"
                    name="telephone"
                    [(ngModel)]="client.telephone"
                    autocomplete="off"
                    required>
                </div>
                <div class="form-group col-md-6">
                    <label for="dateBirth">Fecha de nacimiento</label>
                    <input
                    id="dateBirth"
                    type="date"
                    class="form-control"
                    name="dateBirth"
                    [(ngModel)]="client.dateBirth"
                    required>
                </div>
                <button (click)="saveClient()" class="btn btn-success" type="submit">Guardar</button>
            </form>

        </div>
    </div>
</div>
