<div class="container">
  <div class="btn-holder" style="display: flex; margin-bottom: 10px">
    <button (click)="goToCreateAccount()" class="btn btn-success">
      Crear Producto
    </button>
  </div>

  <div
    *ngFor="let product of products"
    class="card"
    style="margin-bottom: 10px"
  >
    <div class="card-header">
      <h3>Cuenta de {{ product.typeAccount }}</h3>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">
          <span>Número de cuenta: </span> {{ product.numberAccount }}
        </li>
        <li class="list-group-item">
          <span>Saldo: </span> {{ product.balance | currency: 'USD' }}
        </li>

        <li class="list-group-item">
          <span>Estado: </span> {{ product.state }}
        </li>
        <li class="list-group-item">
          <span>Fecha creación: </span>
          {{ product.creationDate }}
        </li>
      </ul>
    </div>
    <div
      class="btn-holder"
      style="justify-content: flex-end; display: flex; margin-bottom: 10px"
    >
      <button
        (click)="goToAccountStatus(product.idClient, product.idProduct)"
        class="btn btn-dark"
        style="margin-left: 5px; margin-right: 5px"
      >
        Estado cuenta
      </button>
      <button
      (click)="goToCreateTransaction(product.idClient, product.idProduct)"
      class="btn btn-success"
      style="margin-left: 5px; margin-right: 5px"
      *ngIf="product.state != 'Cancelado'"
    >
      Realizar Transacción
    </button>

      <button

        (click)="changeStatus(product.idClient, product.idProduct)"
        class="btn btn-warning"
        style="margin-left: 5px; margin-right: 5px"
        *ngIf="product.state != 'Cancelado'"
      >
        Cambiar Estado
      </button>
      <button
        (click)="cancelProduct(product.idClient, product.idProduct)"
        class="btn btn-danger"
        style="margin-left: 5px; margin-right: 5px"
        *ngIf="product.state != 'Cancelado'"
      >
        Cancelar Producto
      </button>
    </div>
  </div>
  <hr />
</div>

