<div *ngIf="!validateLogin" class="container-fluid">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-6">
      <img
        src="https://image.freepik.com/vector-gratis/ilustracion-personas-dinero_53876-40771.jpg"
        alt="Logo bank"
        width="500"
        style="text-align: center"
      />
      <h1>¡Bienvenido a Bank Sophos!</h1>
      <p>
        Para utilizar la aplicación por favor ingresa con tus credenciales, o
        crea un nuevo usuario
      </p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Iniciar sesión</h3>
        </div>
        <div class="card-body">
          <form class="row g-3 needs-validation" action="">
            <div class="form-group col-md-12">
              <label for="name">Usuario</label>
              <input
                id="username"
                type="text"
                class="form-control"
                placeholder="Ingresa tu usuario"
                name="username"
                [(ngModel)]="user.userName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="lastname">Contraseña</label>
              <input
                id="password"
                type="password"
                class="form-control"
                placeholder="Ingresa tu contraseña"
                name="password"
                [(ngModel)]="user.password"
                autocomplete="off"
                required
              />
            </div>
            <div *ngIf="validateLogin">
              <p style="color: darkred; font-size: small;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
              </svg> *Usuario o contraseña incorrectos</p>
            </div>
            <button (click)="signIn()" class="btn btn-success" type="submit">
              Iniciar sesión
            </button>
            <button
              (click)="goToSignUp()"
              class="btn btn-secondary"
              type="submit"
            >
              Crear usuario
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create user -->

<div *ngIf="validateLogin" class="container-fluid">
  <div class="row justify-content-md-center align-items-center">
    <div class="col-md-auto">
      <img
        src="https://image.freepik.com/vector-gratis/ilustracion-personas-dinero_53876-40771.jpg"
        alt="Logo bank"
        width="500"
        style="text-align: center"
      />
      <h1>¡Bienvenido a Bank Sophos!</h1>
      <p>Ingresa la información a continuación para generar tu usuario</p>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Crear usuario</h3>
        </div>
        <div class="card-body">
          <form class="row g-2 needs-validation" action="">
            <div class="form-group col-md-12">
              <label for="name">Nombre</label>
              <input
                id="firstName"
                type="text"
                class="form-control"
                placeholder="Adele"
                name="firstName"
                [(ngModel)]="newUser.firstName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="name">Apellido</label>
              <input
                id="lastName"
                type="text"
                class="form-control"
                placeholder="Adkins"
                name="lastName"
                [(ngModel)]="newUser.lastName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="name">Usuario</label>
              <input
                id="username"
                type="text"
                class="form-control"
                placeholder="aadkins"
                name="username"
                [(ngModel)]="newUser.userName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="lastname">Contraseña</label>
              <input
                id="password"
                type="password"
                class="form-control"
                placeholder="Ingresa tu contraseña"
                name="password"
                [(ngModel)]="newUser.password"
                autocomplete="off"
                required
              />
            </div>
            <button (click)="signUp()" class="btn btn-success" type="submit">
              Crear usuario
            </button>
            <button (click)="cancel()" class="btn btn-danger" type="submit">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

