<div class="container">
  <div class="card">
      <div class="card-header">
          <h3>Usuarios registrados</h3>
      </div>
      <div class="card-body">
          <table class="table table-striped table-hover table-sm">
          <thead>
              <tr style="text-align:center;">
                  <th> Nombre </th>
                  <th> Apellido </th>
                  <th> Usuario </th>
                  <th> Contraseña </th>
              </tr>
          </thead>
          <tbody class="align-middle;">
              <tr *ngFor="let user of users" class="text-center">
                  <td class="align-middle">{{user.firstName}}</td>
                  <td class="align-middle">{{user.lastName}}</td>
                  <td class="align-middle">{{user.userName}}</td>
                  <td class="align-middle">{{user.password}}</td>
                  <!-- <td class="align-middle">
                      <button (click)="goToEditClient(client.id)" class="btn btn-secondary">Gestionar</button>
                  </td> -->
              </tr>
          </tbody>
      </table>
      </div>
  </div>
</div>
