<div class="container-fluid">
  <div class="row justify-content-md-center align-items-center">

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3>Editar usuario</h3>
        </div>
        <div class="card-body">
          <form class="row g-2 needs-validation" action="">
            <div class="form-group col-md-12">
              <label for="name">Nombre</label>
              <input
                id="firstName"
                type="text"
                class="form-control"
                placeholder="Adele"
                name="firstName"
                [(ngModel)]="user.firstName"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group col-md-12">
              <label for="name">Apellido</label>
              <input
                id="lastName"
                type="text"
                class="form-control"
                placeholder="Adkins"
                name="lastName"
                [(ngModel)]="user.lastName"
                autocomplete="off"
                required
              />
            </div>

            <div class="form-group col-md-12">
              <label for="lastname">Contraseña</label>
              <input
                id="password"
                type="password"
                class="form-control"
                placeholder="Ingresa tu contraseña"
                name="password"
                [(ngModel)]="user.password"
                autocomplete="off"
                required
              />
            </div>
            <button (click)="updateUser()" class="btn btn-success" type="submit">
              Actualizar información
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
