<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://img.icons8.com/clouds/100/000000/bank.png" alt="Logo bank" width="50">
      BankSophos
    </a>
    <button *ngIf="isLogged" (click)="goToCreateCustomer()" class="btn btn-dark" type="submit">Crear Cliente</button>
    <button *ngIf="isLogged" (click)="goToListCustomers()" class="btn btn-dark" type="submit" style="margin-left: 10px ;">Ver Clientes</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <span *ngIf="isLogged" class="navbar-text">
      Bienvenido, {{nameUser}} {{lastnameUser}}
    </span>

    <button *ngIf="isLogged" (click)="goToChangePassword()" class="btn btn-dark" type="submit" style="margin-left: 10px ;">Cambiar Contraseña</button>
    <button *ngIf="isLogged" (click)="signOut()" class="btn btn-dark" type="submit" style="margin-left: 10px ;">Cerrar sesión</button>


  </div>
</nav>
<hr>

<div *ngIf="isLogged; else isNotLogged">
  <!-- <router-outlet></router-outlet> -->
</div>

<ng-template #isNotLogged>
  <app-login (login)="isAuthenticated($event)"></app-login>
</ng-template>
